pip==19.2.3
bump2version==0.5.11
wheel==0.33.6
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage==4.5.4
Sphinx==1.8.5
twine==1.14.0
psutil==5.8.0
dataclasses_json==0.5.2
click==7.1.2
dataclasses==0.8; python_version < "3.7"
python_dateutil==2.8.1
